/* ::-webkit-scrollbar {display:none;} */

.main{
  padding: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 98%;
  flex-direction: row;
}

.main__filter{
  padding: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: fit-content;
  min-width: 12%;
  margin: 1rem;
  background-color: aliceblue;
  box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075)
  ;
  border-radius: 4px;
}

.main__products{
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main__products__search{
  margin: 1rem 0;
  display: grid;
  gap: 10px;
  align-content: center;
  width: 100%;

}

input#searchbox{
  height: 25px;
}

.main__products__searchResults{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
  align-items: center;
  gap: 16px;
}

.div__flex__row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.div__flex__column{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#searchbox{
  border-radius: 3px;
  border: 1px solid silver;
}

.main__filter__title{
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
}

.main__products__search__title{
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 560px) {
  .main{
    flex-direction: column; 
    width: 100%;
  }
  .main__filter{
    width: fit-content;
    margin: 0.5rem auto;
    padding: 2rem;
    height: fit-content;
  }
  .main__products{
    margin-top: 0.5rem;
    width: 100%;
  }

  .main__products__searchResults{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(180px, 1fr));
    gap: 1rem;
    align-items: center;
  }
}

